<main class="mt-2">
    <h2>أحدث الإصدارات</h2>

    <mat-divider class="mat-divider"></mat-divider>

    <div class="row"
        *ngIf="latestBooks.length > 0">
        <div class="col-12">
            <app-book-viewer *ngFor="let book of latestBooks"
                [book]="book">
            </app-book-viewer>
        </div>
    </div>

    <app-binding-helper [isLoading]="loading"
        [isNoData]="latestBooks.length === 0 && noData"
        [isError]="latestBooks.length === 0 && !noData">
    </app-binding-helper>
</main>